@font-face {
    font-family: 'CarpalTunnel';
    src: url('../fonts/Carpal-Tunnel.ttf');
}

.fontPreload {
    font-family: 'CarpalTunnel';
    visibility: hidden;
    height: 0;
    font-size: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.takeButton {
    opacity: 1;
    font: inherit;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 50px;
    margin: 2px 0;
    padding: 0.2em 1em 0.5em 1em;
    border: outset 2px transparent;
    border-radius: 4px;
    color: black;
    background-color: goldenrod;
}

.takeButton:hover {
    border-color: #FFEAB8;
    text-shadow: 0 0 10px white;
    filter: brightness(110%);
}

.center {
    text-align: center;
}

.shack:hover, .player:hover {
    border-radius: 30px;
    background-color: rgba(255, 255, 0, 0.5);
    box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.5);
}

.shack:hover {
    border-radius: 2px;
    background-image: url('../images/shack-open.png');
}

.shack {
    background-image: url('../images/shack.png');
}

.shackMenu {
    position: absolute;
    width: 100px;
    border: 3px outset #DDDDDD;
    background-color: white;
    padding: 10px;
    color: black;
    z-index: 400;
}

.shackMenu button {
    width: 100%;
    margin: 10px 0;
}

.sun {
    filter: drop-shadow(0 0 10px goldenrod);
}

.land, .beach, .water {
    z-index: 0;
    position: absolute;
    top: 0;
    height: 100%;
    background-repeat: repeat;
}

.land {
    left: 0;
    background: #D9AE80;
    cursor: not-allowed;
}

.beach {
    background-color: transparent;
    width: 18px;
    z-index: 1;
    cursor: not-allowed;
}

.water {
    background-color: #0048A0;
    background-image: url('../images/lakeocean.png');
    cursor: crosshair;
}

.pier {
    position: absolute;
    z-index: 10;
}

.castBarWrap {
    position: absolute;
    width: 300px;
    z-index: 110;
}

.castRod {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
}

.castBar {
    width: 0;
    border-radius: 5px;
    border-right: 2px solid rgb(255,255,0);
}

.arrow {
    position: absolute;
    z-index: 30;
    opacity: 1;
    transition: opacity 2s;
    cursor: not-allowed;
}

.bobber {
    position: absolute;
    z-index: 85;
}

.barrel {
    position: absolute;
    z-index: 12;
}

.qte, .trophy {
    position: absolute;
    max-height: calc(95% - 40px);
    z-index: 125;
    text-align: center;
    overflow-y: auto;
}

.qte {
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    background: linear-gradient(#0048A0, #002758);
    border: 5px solid #0071FF;
    border-radius: 15px;
}

.trophy {
    width: auto;
    padding: 25px 35px 20px 35px;
    color: white;
    font-size: 24px;
	background-image: url('../images/wood_mount.png');
	background-repeat: repeat;
	border: 8px outset #8A6445;
}

.trophyImg {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px 0 25px 0;
}

.trophyImg:hover {
    transform: scale(1.05);
}

.trophyHook {
    max-height: 40px;
    float: right;
    padding-left: 10px;
    margin-top: -2px;
}

.qte {
    font-family: 'CarpalTunnel';
}

.qteText, .qteTip {
    color: white;
}

.qteText {
    font-size: 1200%;
    letter-spacing: 40px;
    word-wrap: break-word;
    display: block;
    vertical-align: middle;
    padding: 20px 0 20px 0;
}

.qteTip {
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}

.qteProgress {
    display: block;
    width: 100%;
    height: 10px;
    background-color: white;
}

.scoreboard {
    position: absolute;
    z-index: 105;
    left: 100px; /* Reliant on shack sizing */
    top: 10px;
    width: 220px;
    background-color: #DDDDDD;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    padding: 10px;
    opacity: 0.9;
}

.scoreNum {
    font-weight: bold;
}

.nightOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    font-size: 80px;
    padding-top: 80px;
    font-weight: bold;
    text-shadow: 0 0 5px white;
    text-align: center;
    width: 100%;
    height: 100%;
    color: yellow;
    background-repeat: repeat;
    background-image: url('../images/night.gif');
    background-color: black;
    opacity: 0;
    transition: opacity 1.5s;
}

.nightRetire {
    background-image: none;
    background-color: black;
    color: #0071FF;
    text-shadow: none;
}

.nightEarn {
    font-size: 30px;
    padding-top: 30px;
}

.retireMessage {
    font-size: 60px;
    font-weight: normal;
}

.retireImage {
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/** backgroundObject - short name because we use a ton of them */
.bo, .wo {
    position: absolute;
    z-index: 1;
    cursor: not-allowed;
}

.wo {
    cursor: crosshair;
}

/** fishing line - short name because we use a ton of them */
.fl {
    position: absolute;
    height: 1px;
    width: 1px;
    background-color: #DDDDDD;
    z-index: 80;
}

.message {
    position: absolute;
    animation-name: messageUp;
    animation-timing-function: linear;
    animation-duration: 6s;
    transition: opacity 4s;
    opacity: 1;
    z-index: 30;
    font-size: 16px;
    font-weight: bold;
    color: #DDDDDD;
    text-shadow: 0 0 10px black;
    text-align: center;
}

@keyframes messageUp {
    from {
        transform: translate(0, var(--start, 500px));
    }
    
    to {
        transform: translate(0, -40px);
    }
}

.bird {
    animation-name: flyAcross;
    animation-timing-function: linear;
}

@keyframes flyAcross {
    from {
        transform: translate(var(--start, 1920px));
    }
    
    to {
        transform: translate(-40px);
    }
}

.shake {
    animation: shake 2s infinite cubic-bezier(.36,.07,.19,.97) both;
    animation-delay: 3s;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-1px, -1px, 0);
    }
    
    40%, 60% {
        transform: translate3d(1px, 1px, 0);
    }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
